<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shurly - Promote What You Support</title>

    <!-- <link rel="icon" href="<%= campaign.meta_image %>" /> -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <meta name="title" content="<%= campaign.meta_title %>">
    <meta name="description" content="<%= campaign.description %>">
    <meta name="image" content="<%= campaign.meta_image %>">

    <meta property="title" content="<%= campaign.meta_title %>">
    <meta property="description" content="<%= campaign.description %>">
    <meta property="image" content="<%= campaign.meta_image %>">

    <!-- Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%= campaign.meta_title %>">
    <meta property="og:description" content="<%= campaign.meta_description %>">
    <meta property="og:image" content="<%= campaign.meta_image %>">
    
    <!-- Twitter -->
    <meta property="twitter:title" content="<%= campaign.meta_title %>">
    <meta property="twitter:description" content="<%= campaign.meta_description %>">
    <meta property="twitter:image" content="<%= campaign.meta_image %>">
  
    <link href="assets/css/style-redirect.css" rel="stylesheet">
    <script src="assets/js/script-redirect.js"></script>
</head>
<body>
  <div id="loader" class="loader"></div>
    
  <% if (campaign.advertisement) { %>

  <div class="container">
    <Center>
      <a
        href="<%=campaign.advertisement.link%>"
        target="blank"
      >
      <img class="main-image" 
        id="main-image" 
        onload="resizeImg(this)"
        width="<%=campaign.advertisement.width%>" 
        height="<%=campaign.advertisement.height%>" 
        src="<%=campaign.advertisement.attachment%>"></img>
      </a>
    
    </Center>
  </div>
  <% }else{ %>
    <div class="">
    </div>
  <% } %>


  <div class="footer">
    <a href="https://shurly.app"> Powered by ShurLy.App </a>
  </div>
</body>

<script type='text/javascript'>

  window.onload = (event) => {
  //   img = $(".main-image");
  //   resizeImg(img);
  var loader = document.getElementById("loader");
  loader.style.width = "100%";

  var update_views_url = "/api/campaign/update-view/"+"<%=campaign.id%>";
    fetch(update_views_url).then();

  const redirect = "<%=config.redirect%>"
  const time = "<%=config.time%>"
  const url = "<%=campaign.destination_url%>"
  
  if(redirect == 'true'){
    setTimeout(() => {
      window.location = url;
    }, time);
  }
};
</script>
</html>